* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    position: relative;
    padding-top: 20px;
    background-image: url("../images/banner-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
header hr {
    border: none;
    border-bottom: 1px solid #888;
}
.container {
    width: 70%;
    margin: auto;
}
header .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo p a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}
.logo p a span{
    font-size: .9rem;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    padding: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: .9rem;
}
nav ul li a.active{
    color: #00bcd4;
}
nav ul li:hover a{
    color: #00bcd4;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}
nav ul li button {
    width: 80px;
    height: 30px;
    text-transform: uppercase;
    outline: none;
    border: 2px solid white;
    background: unset;
    color: white;
    cursor: pointer;
}
nav ul li button:hover {
    background-color: white;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    color: black;
}
nav ul li button.active {
    background-color: #00bcd4;
    border: #00bcd4;
}
nav ul li button.active:hover{
    background-color: #00bbd4bd;
    color: white;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}
.banner {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 250px;
    /* position: absolute;
    content: " ";
    top: 50%;
    right: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    z-index: 999; */
}
.banner .title {
    font-size: 2rem;
    color: white;
    padding-bottom: 30px;
    text-transform: uppercase;
}
.banner input[type="text"] {
    background-color: unset;
    outline: none;
    border: 1px solid white;
    padding: 10px;
    width: 400px;
    color: white;
}
.banner input[type="text"]::placeholder {
    color: white;
}
.banner input[type="submit"] {
    background-color: #00bcd4;
    outline: none;
    border: 1px solid #00bcd4;
    padding: 10px;
    margin-left: 8px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.banner form .search{
   padding-bottom: 15px;
}
.banner form ul {
    list-style-type: none;
}
.banner form ul li {
    display: inline-block;
    padding: 0 10px;
    color: white;
}
.trusted-section {
    width: 100%;
    background-color: #f7f7f7;
    text-align: center;
    padding: 30px 0;
}
.trusted-section .trusted-title {
    display: block;
    text-transform: uppercase;
    padding: 5px 0 35px;
}
.trusted-section .trusted-img img {
    padding: 0 60px;
}
.service-section {
    width: 100%;
    height: auto;
    padding: 200px 0;
    background-color: white;
}
.service-title {
    color: #00bcd4;
    text-transform: capitalize;
    font-weight: bolder;
    padding-bottom: 10px;
}
.service-content .serice-content-title {
    text-transform: capitalize;
    padding: 15px 0 10px 0;
}
.service-content .service-intro, .service-item p{
    color: #888;
}
.service-items{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.service-item {
    padding: 50px;
    background-color: #f7f7f7;
    text-align: center;
}
.service-item p {
    text-align: start;
    padding-top: 20px;
}
.service-item span {
    display: block;
    text-transform: capitalize;
    padding-top: 20px;
    font-weight:600;
}
.service-item .service-icon{
    margin: auto;
    width: 80px;
    height: 80px;
    background-color: #00bcd4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.service-item i {
    color: white;
    font-size: 2rem;
    padding: 25px 0;
}


.pricing {
    background-image: url("../images/pricing-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    height: 450px;
}
.pricing-items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.pricing-item {
    background-color: white;
    text-transform: capitalize;
    padding: 20px;
    border: 1px solid rgba(136, 136, 136, 0.171);
}
.pricing-title, .pricing-intro {
    color: white;
    text-transform: capitalize;
}
.pricing-intro {
    padding: 20px 0 50px 0;
}
.pricing-item-title{
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px 0 50px 0;
}
.price-box {
    background-color: #00bcd4;
    width: 180px;
    height: 100px;
    padding: 30px;
    margin: auto;
    margin-bottom: 30px;
}
.price-box span{
    display: block;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
}
.price-box .monthly{
    font-size: .6rem;
}
.price-box.active {
    background: linear-gradient(rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%);
}
.pricing-item p {
    color: #888;
    font-size: .9rem;
}
.pricing-item hr {
    border: none;
    border-bottom: 1px solid #2222;
}
.price-list {
    margin-top: 30px;
    text-align: start;
    padding-bottom: 30px;
}
.price-list ul{
    list-style-type: none;
}
.price-list ul li {
    padding: 10px;
}
.price-list ul li i {
    color: rgba(114,2,187,1);
}
.price-list ul li span {
    text-transform: lowercase;
}
.pricing-item button {
    width: 150px;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #00bcd4;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.pricing-item button.active {
    background: linear-gradient(rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%);
}
.pricing-item button:hover{
    background-color: #02aac0fe;
    color: white;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}
.pricing-item button.active:hover {
    background: linear-gradient(145deg, rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%);
}